#logo {
  position: absolute;
  width: 135px;
  height: 66px;
  left: 125px;
  top: 132px;

  font-family: 'Iowan Old Style';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
