<h1 id="logo">JOKO</h1>

<div class="container">
  <%= simple_form_for @user do |f| %>
    <%= f.input :email, label: false, placeholder: "Email" %>
    <%= f.input :password, label: false, placeholder: "Password" %>
      <div class="btn">
        <%= f.button :submit, "Log in", class: "btn btn-primary btn-block" %>
      </div>
  <% end %>
</div>
